@using Microsoft.AspNet.Identity
@using OneMoreTimeForTheLads.Models
@model ApplicationUser



<div class="container">
    <br />

    <div class="row">
        <div class="col-sm-12 col-md-4">
            @if (Model.Files.Any(f => f.FileType == FileType.Avatar))
            {
                <img class="img-thumbnail rounded-circle mx-auto d-block" style="height:300px; width:300px; object-fit:cover" src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Avatar).FileId" alt="avatar" />
            }
            else
            {
                <img class="img-thumbnail rounded-circle mx-auto d-block" style="height:300px; width:300px; object-fit:cover" src="~/Content/img/default-avatar.png" />
            }
        </div>


        <div class="col-sm-12 col-md-8">
            <h1 class="display-3">@Model.FirstName @Model.LastName</h1>
            <br />
            <br />
            <br />

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h5 style="font-weight:400"><strong>Date Of Birth:</strong> @Model.DateOfBirth.ToShortDateString()</h5><br />
                </div>
                <div class="col-sm-12 col-md-6">

                </div>
            </div>


            <br />


            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h5 style="font-weight:400"><strong>Address:</strong> @Model.Address</h5> <br />
                </div>
                <div class="col-sm-12 col-md-6">
                    <h5 style="font-weight:400"><strong>PostCode:</strong> @Model.PostCode</h5>
                </div>
            </div>


            <br />


            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h5 style="font-weight:400"><strong>Email:</strong> <a class="btn btn-primary" href="mailto: @Model.Email">@Model.Email</a></h5><br />
                </div>
                <div class="col-sm-12 col-md-6">
                    <h5 style="font-weight:400"><strong>Phone Number:</strong> @Model.PhoneNumber</h5>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h5 style="font-weight:400"><strong>Job Role:</strong> @Model.JobRole</h5><br />
                </div>
                <div class="col-sm-12 col-md-6">
                    <h5 style="font-weight:400"><strong>Start Date:</strong> @Model.StartDate.ToShortDateString()</h5>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-12">
                            <h5 style="font-weight:400">
                                <strong>Useful Links:</strong>
                            </h5>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <a class="btn btn-block btn-primary" href="@Model.GitHub">GitHub</a><br />
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <a class="btn btn-block btn-primary" href="@Model.LinkedIn">LinkedIn</a><br />
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <h5 style="font-weight:400">
                        <strong>Curriculum Vitae:</strong>
                    </h5>
                    <br />
                    @if (Model.Documents.Any(d => d.FileType == FileType.CV))
                    {
                        <a class="btn btn-block btn-primary" href="~/Document?id=@Model.Documents.First(d => d.FileType == FileType.CV).FileId">View CV</a>
                    }
                    else
                    {
                        <div class="alert alert-primary" role="alert">
                            No Document Uploaded!
                        </div>
                    }
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-sm-12 col-md-6">

                    <a class="btn btn-outline-primary btn-block" href="~/Account/Edit?id=@Model.Id">Edit</a>


                </div>
                <div class="col-sm-12 col-md-6">
                    
                    <a class="btn btn-outline-primary btn-block" href="~/Account/Delete?id=@Model.Id">Delete</a>

                </div>
            </div>


        </div>
    </div>
</div>
















@*<h2>Info</h2>

    <div>
        <h4>ApplicationUser</h4>
        <hr />

        <div>
            @if (Model.Files.Any(f => f.FileType == FileType.Avatar))
            {
                <img class="img-thumbnail rounded-circle mx-auto d-block" style="height:300px; width:300px; object-fit:cover" src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Avatar).FileId" alt="avatar" />
            }
            else
            {
                <img class="img-thumbnail rounded-circle mx-auto d-block" style="height:300px; width:300px; object-fit:cover" src="~/Content/img/default-avatar.png" />
            }
        </div>

            @if (Model.Documents.Any(d => d.FileType == FileType.CV))
            {
            <a class="btn btn-block btn-primary" href="~/Document?id=@Model.Documents.First(d => d.FileType == FileType.CV).FileId">@Model.Documents.First(d => d.FileType == FileType.CV).FileName</a>
            }
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PostCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PostCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JobRole)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JobRole)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GitHub)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GitHub)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LinkedIn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LinkedIn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>



            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
